/node_modules
/dist
/.env
/env.example
/.env.local
/.env.development
/.env.test
/.env.production
/.DS_Store
/coverage
/.vscode
/.idea
/.eslintcache
/.prettiercache
/logs
*.log
*.tsbuildinfo
*.zip
*.tar.gz
*.bak
*.tmp
*.swp
*.swo
*.swn
/coverage
/nyc_output
/build

